.progress-container {
  padding: 24px 15px 15px 5%;
  // margin-top: 25px;
}

main {
  display: flex;
  justify-content: space-between;
}

.progress-bucket {
  width: 28%;
  height: 80vh;
  background-color: rgb(233, 252, 245);
  .mat-card-title {
    font-size: 15px;
    font-weight: 450;
  }
  button {
    width: 100%;
    background-color: rgb(209, 248, 234);
  }
  .task-card {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
